@{
    ViewData["Title"] = "Hakkımda";
}


<H1 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">HAKKIMDA</H1> <br>
<p style="font-size: 20px; font-family:Arial, Helvetica, sans-serif;">
    <ul>
        <li>
            2003 Yılında Kahramanmaraş'ta doğdum.
        </li>
        <li>
            ilkokul ve ortaokul öğrenimimi İMKB Doğukent okulunda, Lise eğitimimi Toki Duran Karabuğaş Anadolu Lisesinde tamamladım.
        </li>
        <li>
            2022 Yılında Çukurova Üniversitesi Bilgisayar Programcılığı bölümünde okumaya başladım.  
        </li>
    </ul>
</p>

