@{
    ViewData["Title"] = "İletişim";
}

<style>
    .fab {
    padding: 8px;
    font-size: 30px;
    width: 42px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.fab:hover {
    opacity: 0.6;
}
.fa-facebook-f {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-google {
    background: #dd4b39;
    color: white;
}
 
.fa-linkedin {
    background: #007bb5;
    color: white;
}
a{
    text-decoration: none;
}
</style>


    

    <div class="container">
        <h1 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">İLETİŞİM İÇİN</h1>
        <br>
        <ul>
            <li style="font-size: 20px; font-family:Verdana, Geneva, Tahoma, sans-serif"><a href="https://www.instagram.com/sefaaksux?utm_source=ig_web_button_share_sheet&igsh=OGQ5ZDc2ODk2ZA==" target="_blank">İNSTAGRAM :</a> 
                <a href="https://www.instagram.com/sefaaksux?utm_source=ig_web_button_share_sheet&igsh=OGQ5ZDc2ODk2ZA==" target="_blank" class="fab fa-instagram"></a>
            </li>
        </ul>
        <ul>
            <li style="font-size: 20px; font-family:Verdana, Geneva, Tahoma, sans-serif"><a href="mailto:sefaaksusefa@gmail.com" target="_blank">MAİL :</a>
                <a href="mailto:sefaaksusefa@gmail.com" target="_blank" class="fab fa-google"></a>
            </li>
        </ul>

        <ul>
            <li style="font-size: 20px; font-family:Verdana, Geneva, Tahoma, sans-serif"><a href="https://www.linkedin.com/in/celal-safa-aksu-211154255?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank">LINKEDIN</a>
                <a href="https://www.linkedin.com/in/celal-safa-aksu-211154255?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank" class="fab fa-linkedin"></a>
            </li>
        </ul>
        <a style="font-size: 20px; font-family:Verdana, Geneva, Tahoma, sans-serif"  asp-controller="Home" asp-action="Index"><button class="btn btn-primary">Anasayfa</button></a>
    </div>
   
