@{
    ViewData["Title"] = "Anasayfa";
}

@section style{
    <style>
        a:link{
        color: #3a00ad;
        padding: 4px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        }
        
    </style>
}

<H1 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif" >PROJELERİM</H1> <br>

<table class="table table-success table-striped table-bordered border-primary">
    <thead>
        <tr>
            <th>PROJE</th>
            <th>KULLANILAN DİL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="https://github.com/sefaaksux/TeknologyMarket" target="_blank">Teknoloji Marketi (Gelişme aşamasında)</a>
                </td>
            <td>C#,html, css, JavaScript</td>
        </tr>
        <tr>
            <td><a href="https://github.com/sefaaksux/Kutuphane-Otomasyonu" target="_blank">Kütüphane Otomasyonu</a></td>
            <td>c# (adonet)</td>
        </tr>
        <tr>
            <td><a href="https://github.com/sefaaksux/Computer-Concealer" target="_blank">Comptuer Concealer</a></td>
            <td>C#</td>
        </tr>
        <tr>
            <td><a href="https://github.com/sefaaksux/techcareer-blog" target="_blank">Techcareer Blog Page</a></td>
            <td>html, css</td>
        </tr>
        <tr>
            <td><a href="https://github.com/sefaaksux/login-page" target="_blank">Login Page</a></td>
            <td>html, css</td>
        </tr>
        <tr>
            <td><a href="https://github.com/sefaaksux/login-islemleri" target="_blank">Login Setup</a></td>
            <td>C#</td>
        </tr>
    </tbody>
</table>