/* _content/SefaPortfolyo/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
#container[b-u2lzu1uvwi] {
  /* background-color: #f5f5f5;
  border: 1px solid rgb(9, 7, 7);
  border-radius: 3%; */
  width: 1706px;
  height: 783px;
  flex-shrink: 0;
  border-radius: 60px;
  border: 0px solid #000;
  background: linear-gradient(180deg, rgba(0, 135, 211, 0.80) 0%, rgba(194, 116, 0, 0.32) 100%);
  box-shadow: 16px 16px 4px 0px rgba(0, 0, 0, 0.25);
}

#navv[b-u2lzu1uvwi]{
  border-radius: 30px;
background: rgba(0, 124, 193, 0.21);
box-shadow: 4px 6px 4px 0px rgba(0, 0, 0, 0.25);
}
.imagem[b-u2lzu1uvwi]{
  margin-top: 40px;
  width: 684px;
  height: 688px;
  flex-shrink: 0;
  border-radius: 688px;
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);  
}

.imagem img[b-u2lzu1uvwi]{
  width: 100%; /* Resmi div genişliğine sığdır */
  height: 100%; /* Resmi div yüksekliğine sığdır */
  object-fit: cover; /* Resmi orantılı şekilde sığdır ve kırpma */
}

a.navbar-brand[b-u2lzu1uvwi] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-u2lzu1uvwi] {
  color: #0077cc;
}

.btn-primary[b-u2lzu1uvwi] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-u2lzu1uvwi], .nav-pills .show > .nav-link[b-u2lzu1uvwi] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-u2lzu1uvwi] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-u2lzu1uvwi] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-u2lzu1uvwi] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-u2lzu1uvwi] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-u2lzu1uvwi] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
